.formParent {
  width: calc(100% - 2rem);
  border: 1px #ccc solid;
  border-radius: 6px;
  overflow: hidden;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.textarea {
  resize: none;
  max-height: 6rem;
  width: 90%;
  border: 0;
  outline: 0;
}

.button {
  background: url('../../assets/send.png');
  border: none;
  background-size: 24px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.icons {
  display: flex;
  gap: 4px;
  margin-right: 4px;
}

.imageicon, .gificon, .emojiicon {
  border: none;
  background: url('../../assets/image.png');
  background-size: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.gificon {
  background: #fff;
  border: 3px var(--blue) solid;
  border-radius: 3px;
  color: var(--blue);
  font-weight: 700;
  font-size: 0.6rem;
  padding: 0;
}

.emojiicon {
  border: none;
  background-image: url('../../assets/emoji.png');
}
