.emojibg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

.emojibox {
  position: relative;
  width: 400px;
  overflow: hidden;
  background: #eee;
  position: absolute;
  height: 400px;
  margin-top: calc(-400px - 5rem);
  right: 17rem;
}

@media (max-width: 620px) {
  .emojibox {
    width: calc(100% - 2rem);
    right: 1rem;
  }
}

.emojiinner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  height: calc(400px - 2rem);
  overflow-y: scroll;
  padding: 0 1rem;
}

.emoji {
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.emoji:hover {
  background: #ccc;
}

.search {
  padding: 1rem 1.75rem;
  width: 100%;
}

.search input {
  border: none;
  background: none;
  border-bottom: 3px #ccc solid;
  width: 100%;
}

.gif {
  width: 30%;
  margin: 0.5%;
}

.giphyattr {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: #eee;
  padding: 0.5rem;
  width: 160px;
  border-radius: 7px 0 0 0;
  box-shadow: 0 0 6px 0 #666;
}