@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import './variables.css';

* {
  box-sizing: border-box;
  font-family: Quicksand, Helvetica, sans-serif;
}

body {
  margin: 0;
  background: var(--orange);
}

.app {
  display: flex;
}

@media (max-width: 620px) {
  .app {
    display: block;
  }
}

.chatForm {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
}